$color-blanco : white;
$color-manteca : wheat;
$color-negro: black;

h2, h3, h4, h6, footer, p, li, section, label {color: $color-manteca }
.textoNegro {color:$color-negro}

h1 {color:$color-blanco;
   animation-duration: 2s;
   animation-name: aparecer;}
   @keyframes aparecer {0% {opacity: 0;}
   100% {opacity: 1;}}
a   {color: $color-blanco}

.menu__item {padding: 3rem;
    color:red}

body    {font-family:'Roboto' , sans-serif;
        background-color: black;}