@media only screen and (max-width:767px){
    .menu {display:grid;
          grid-template-columns: auto auto;
          flex-direction: column;
          width: 100%;}
    .padreGrid {grid-template-columns: 50% auto;
               }
    .headerGrid {width: 100%;
                 grid-template-columns: 50% auto;}
    
    .menu__item {height: auto;
                 padding: 2px;
                 font-size: xx-small;}
    h1 {margin: 0%;
        width: 300px;}
    input {color: white;}
    .sectionIcono {width: 100px;}
    .sectionImagen {width: 100px;}
    .logo {width: 100px;}
    .card-text {font-size: x-small;}
    .textoChico {font-size: small;}
    .card {margin: 30px 0px 30px 30px }
    .col-sm-4 {padding: 5px;}
}


@media only screen and (min-width: 768px) and (max-width:991px){
    .menu {display:grid;
          grid-template-columns: 20% 20% 20% 20% auto;}
    body {width: auto;}
    .padreGrid {grid-template-columns: 50% auto;}
    .headerGrid {width: 100%;
        grid-template-columns: 50% auto;}
    h1 {margin: 0px 0px 15px 0px;
        width: 750px;
        text-align: center;
        margin-right: 0%;}
    .menu__item {height: auto;
            padding: 5px;}
    .sectionIcono {width: 300px;}
    .logo {width: 200px;
           float: initial;}
    .container {margin: 0%;}
    .col-sm-4 {padding: 15px;}
    }

@media only screen and (min-width: 992px) and (max-width:1440px){
    .menu {display:grid;
          grid-template-columns: 20% 20% 20% 20% auto;}
    .col-sm-4 {padding: 15px;}
    a {font-size: large;}
    }